* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    padding: 1rem 2rem;
    background-color: dodgerblue;
}

main {
    width: 1400px;
    max-width: 100%;
    margin: auto auto;
}

.header-content {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.result-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 1rem;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.result-card:hover {
    transform: scale(1.05);
}

.result-card img {
    width: 100%;
    border-radius: 8px;
}

.result-card button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
    padding: 5px;
}

.result-card a {
    margin-top: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: end;
}